services:
  mongo:
    image: mongo
    container_name: taskAppDB
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/taskAppDB

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3000:3000" # Express PORT
      - "50051:50051" # gRPC PORT
    depends_on:
      - mongo

  post-service:
    build: ./post-service
    container_name: post-service
    ports:
      - "3001:3001"
    depends_on:
      - user-service
      - mongo
      - rabbitmq

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "3002:3002"
    depends_on:
      - rabbitmq

volumes:
  mongo_data:
